/* App.css */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Montserrat:700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #5d5d5d;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #5d5d5d;
}

a {
    color: #a3c4f3;
    transition: color 0.3s;
}

a:hover {
    color: #c6a8f5;
}


/* App.css */
nav {
  background-color: #a7f0ba;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #5d5d5d;
  font-weight: 700;
}

nav a:hover {
  color: #f4c7ab;
}
